<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理员列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
    <style>
        .layui-btn:hover {
            opacity: .8;
            filter: alpha(opacity=80);
            color: #fff;
        }

        .btn-add-radius {
            border-radius: 100px;
        }
        .btn-add {
            background-color: rgba(4, 156, 196, 1);
        }
    </style>
</head>
<body style="background:#f6f6f6;">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
           <span class="layui-breadcrumb" lay-separator="/" style="visibility: visible;">
              <a href="{:url('index/index')}">控制台</a>
              <a><cite>用户管理</cite></a>
              <a><cite>管理员</cite></a>
            </span>
        </div>
        <div class="layui-card-body">
            <table id="table" lay-filter="table_list"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm btn-add btn-add-radius" lay-event="add">添加</button>
                </div>
            </script>
            <script type="text/html" id="rightToolbar">
                <a class="layui-btn layui-btn-xs btn-add" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['element','table'], function(){
        var element = layui.element,$ = layui.jquery,table = layui.table;
        table.render({
            elem: '#table'
            ,height: "auto"
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar : false
            ,url: "{:url('admin/adminList')}"
            ,cols: [[ //表头
                {field: 'id', title: '编号', width:60, sort: false,}
                ,{field: 'user_name', title: '用户名', width:80}
                ,{field: 'user_status', title: '用户状态', width:100,templet: function (item) {
                    if (item.user_status == 0){
                        return "<span style='color: #00b3d9'>正常</span>"
                    }else{
                        return "<span style='color: #FF0000'>冻结</span>"
                    }
                }}
                ,{field: 'user_nick', title: '昵称', width:''}
                ,{field: 'user_tel', title: '手机号', width: '',templet: function (item) {
                    if (item.user_tel){
                        return item.user_tel
                    }else{
                        return "暂无"
                    }
                }}
                ,{field: 'user_email', title: '邮箱', width: '',templet: function (item) {
                    if (item.user_email){
                        return item.user_email
                    }else{
                        return "暂无"
                    }
                }}
                ,{field: 'login_time', title: '最后登录', width: 180,templet: function (item) {
                    if (item.login_time){
                        return item.login_time
                    }else{
                        return "暂无"
                    }
                }}
                ,{field: 'create_time', title: '创建时间', width: 180}
                ,{fixed:'right', title: '操作', width: 150, unresize: true, toolbar: "#rightToolbar"},
            ]]
            , page: {theme: '#2aace4',prev: '上一页',next: '下一页'}
            , request: {
                limitName : 'pageSize'
            }
            , skin: 'line'
            , text: {
                none: "数据为空!"
            }
            , done: function (res) {
                var that = this.elem.next();
                $.each(res.data,function (index,item) {
                    if (item.user_name == 'admin'){
                        var tr = that.find("[data-index=" + index + "]").children();
                        $.each(tr,function () {
                            $(this).find('a').addClass("layui-disabled");
                            $(this).find('a').attr('disabled',true);
                            $(this).find('a').css('background-color','#fff');
                            $(this).find('a').removeAttr('lay-event')
                            $(this).find('a:first-child').attr('lay-event','show')
                        })
                    }
                })
            }
        });

        //箭筒头部工具栏
        table.on('toolbar(table_list)',function (obj) {
            var layEvent = obj.event;
            if(layEvent === 'add'){
                window.location.href = "{:url('admin/add')}";
            }
        });

        //监听行工具栏
        table.on('tool(table_list)', function(obj){
            var layEvent = obj.event;
            var data = obj.data;
            if(layEvent === 'edit'){
                window.location.href = "{:url('admin/edit')}"+"?id="+data.id;
            }else if(layEvent === 'del'){
                layer.confirm("您确定要删除吗？", function () {
                    $.get("{:url('admin/del')}" + "?id=" + data.id, function (res) {
                        if (res.code == 0) {
                            layer.msg('删除成功', {time: 3000}, function () {
                                window.location.reload()
                            })
                        } else {
                            layer.msg(res.msg, {time: 3000}, function () {
                                window.location.reload()
                            })
                        }
                    });
                })
            }
        });
    });
</script>
</body>
</html>
